<div class="card form-add-work">
    <div class="card-header">
        Chỉnh sửa công việc
    </div>
    <div class="card-body">
        <form method="POST" action="/todos/{{todo._id}}?_method=PUT">
            <div class="form-group">
                <label for="exampleInputEmail1">Tên công việc</label>
                <input type="text" class="form-control" name="name" value="{{todo.name}}">
            </div>
            <div class="form-group row">
                <label for="exampleInputPassword1" class="col-2">Thời gian</label>
                <input type="number" value="{{ slice todo.time 0 2 }}" max="24" class="form-control col-2" name="hours">
                <span style="line-height: 38px;"> : </span>
                <input type="number" value="{{ slice todo.time 3 5 }}" max="59" class="form-control col-2"
                    name="minutes">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mô tả chi tiết</label>
                <textarea name="desc" id="" rows="2">{{ todo.desc }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
    </div>
</div>